{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

  <h3>Choose ticker</h3>

  <form action="/model" method="post">

    <div>
      <input autocomplete="off" name="ticker" placeholder="Ticker" type="text">
    </div>

    <div>
      <input autocomplete="off" name="years" placeholder="Years" type="number">
    </div>
    
    <button type="submit">Get data</button>
  </form>

  <h3>{{ ticker }}</h3>

  <table>
    {{ pnl_table|safe }}
  </table>




{% endblock %}

<!-- {{titles[loop.index]}} -->