{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

  <div>
    <p>This valuation tool  uses simplified DCF valuation</p>
    <p>The goal is to find out if the company seems to be undervalued / overvalued and to find out what are the underlying assumptions of the market</p>
  </div>

  <h3>Choose ticker</h3>

  <form action="/valuation" method="post">

    <div>
      <input autocomplete="off" name="ticker" placeholder="Ticker" type="text">
    </div>

    <div>
      <input autocomplete="off" name="discount_rate" placeholder="Discount rate" type="number" step="any">
    </div>

    <button type="submit">Find</button>
  </form>

  <h3>Retreived data</h3>
    <h4>{{ ticker }}</h4>
    <p>{{ info }}</p>
    <p>{{ company_details }}</p>
    <p>>>>>>>>>>></p>
    <p>{{ revenues }}</p>
    <p>>>>>>>>>>></p>
    <p>{{ bs }}</p>
    <p>>>>>>>>>>></p>
    <p>{{ cf }}</p>
    <p>>>>>>>>>>></p>
    <p>{{ major_holders }}</p>
    <p>>>>>>>>>>></p>
    <p>{{ institutional_holders }}</p>

  <div>
    <h3>Basic info</h3>
    <p>Market Price: {{ current_price }}</p>
    <p>Annual Dividend Yield : {{ dividend_yield }}</p>
    <p>Dividend Abs. Value: {{ dividend_per_share }}</p>
    <p>Market Capitalization: {{ market_cap }}</p>
    <p>Shares outstanding: {{ shares }}</p>
    <p>Calculated price: {{ calculated_price }} </p>
    <!-- <p>Payout ratio: {{ payout_ratio }}</p>
    <p>Discount rate: {{ discount_rate }}</p>
    <p>Value per share: {{ value_ddm }}</p> -->
  </div>


{% endblock %}